DB_NAME=cinetalk
DB_USER=root
DB_PWD=
DB_HOST=localhost
DB_PORT=3306

JWT_SECRET=change_moi_avec_une_cle_secrete_longue
SERVER_PORT=8080

# Cle API TMDB (https://www.themoviedb.org/settings/api)
TMDB_API_KEY=45cf05dc6d65fc47ccabde9c187707fd
